header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0A2035;
    padding: 20px;

    .logo{
        margin-right: auto;
        img{
            height: 250px;
            display: block;
            
        }
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; // Align all children (ul, button) to the bottom
    height: 100px; // Set the height to control space from top to bottom
        
        
}
    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        a {
            color: #C5C5C5;
            text-decoration: none;
            font-size: 22px;
            padding: 10px;
            margin-right: 50px;

            &:hover {
                color: #969696;
                text-decoration: underline;
            }
        }
    }

    // Adjusting the button to match the link's alignment
    button {
        padding: 10px 15px; // Adjust padding to match link's padding
        background-color: #2E2E2E;
        color: #d1d0d0;
        border-radius: 10px;
        margin-left: 50px; // Spacing between the last link and the button
        align-self: flex-end; // Ensures the button aligns with the bottom
    }
}
