header {
    background-color: #0A2035;
    padding: 20px;

    nav {
        ul {
            display: flex;
            list-style: none;
            justify-content: flex-end;
        }

        li {
            a {
                color: white;
                text-decoration: none;
                font-size: 18px;
                padding: 10px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
